<div class="form-group word-form">
    <input
        placeholder="English"
        class="form-control"
        [(ngModel)]="txtEn"
    />
    <br />
    <input
        placeholder="Vietnamese"
        class="form-control"
        [(ngModel)]="txtVn"
    />
    <br />
    <div class="btn-container">
        <button class="btn btn-success" (click)="addWord();">
            Add word
        </button>
        <button
            class="btn btn-danger"
        >
            Cancel
        </button>
    </div>
</div>
<div class="word" *ngFor="let word of words">
    <div class="word-container">
    <h3 class="text-success">{{ word.en }}</h3>
    <h3 class="text-danger">
        {{ word.vn }}
    </h3>
    </div>
    <div class="btn-container">
    <button
        class="btn btn-success"
    >
        Forgot
    </button>
    <button
        class="btn btn-warning" 
    >
        Remove
    </button>
    </div>
</div>
